.AddProduct{
  margin: 40px 0;


  top: 50px;
  margin: 0 auto;


  &-show{
    position: absolute;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    opacity: 0.3;
  }

  &-input{
    opacity: 1;
    position: absolute;
    padding: 50px;
    max-width: 800px;
    width: 100%;
    background-color: white;
    box-shadow: $shadow;

    span{
      display: flex;
      justify-content: flex-end;
      padding: 10px;
  
  
      label{
        margin-right: 10px;
        min-width: 100px;
      }
  
      input{
        width: 100%;
        border: 1px solid #e5e5e5;
        border-radius: 3px;
        padding: 5px;
      }
  
    }

  }

  

}