.Buton{
  display: flex;
  
  button{
    width: 200px;
    height: 50px;
    background-color: $purple;
    color: #fff;
    border: none;
    border-radius: 3px;
    box-shadow: $shadow;
    cursor: pointer;
    transition: 0.3s;

    &:hover{
      box-shadow: $hover-shadow;
    }

  }

}