.Header{
  background: linear-gradient(90deg, #3C4252 0%, #404445 100%, #FFFFFF 100%);
  box-shadow: $shadow;


  h3{
    font-family: 'Russo One';
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 25px;
  }

}