.ProductLists{
  margin: 40px 0;
  box-shadow: $shadow;
  overflow-x:auto;

  table{
    width: 100%;
    border-collapse: collapse;

    th{
      border-bottom: 2px solid #eee;
      color: black;
      text-align: left;
      padding: 15px;
    }
  }

  #exampleProduct{
    border: none;
    color: #fff;
    background-color: brown;
    padding: 10px 50px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: $shadow;
    width: 100%;
  }

}